pkgbase = chromium-mpp
	pkgdesc = A web browser built for speed, simplicity, and security. Patched with Rockchip MPP support.
	pkgver = 126.0.6478.182
	pkgrel = 1
	url = https://www.chromium.org/Home
	install = chromium-mpp.install
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = java-runtime-headless
	makedepends = git
	makedepends = elfutils
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libv4l-rkmpp
	depends = fontconfig
	depends = brotli
	depends = libjpeg
	depends = icu
	depends = dav1d
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = libmali: blob drivers needed for rendering after MPP decoding
	provides = chromium=126.0.6478.182
	provides = chromedriver=126.0.6478.182
	conflicts = chromium
	conflicts = chromedriver
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-126.0.6478.182.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://gitlab.com/Matt.Jolly/chromium-patches/-/archive/126/chromium-patches-126.tar.bz2
	source = allow-ANGLEImplementation-kVulkan.patch
	source = drop-flag-unsupported-by-clang17.patch
	source = compiler-rt-adjust-paths.patch
	source = use-oauth2-client-switches-as-default.patch
	source = 0001-widevine-support-for-arm.patch
	source = 0002-Run-blink-bindings-generation-single-threaded.patch
	source = mpp-0001-HACK-media-Support-V4L2-video-decoder.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0001-HACK-media-Support-V4L2-video-decoder.patch
	source = mpp-0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch
	source = mpp-0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch
	source = mpp-0004-media-gpu-v4l2-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0004-media-gpu-v4l2-Support-libv4l2-plugins.patch
	source = mpp-0005-media-capture-linux-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0005-media-capture-linux-Support-libv4l2-plugins.patch
	source = mpp-0006-cld3-Avoid-unaligned-accesses.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0006-cld3-Avoid-unaligned-accesses.patch
	source = mpp-0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch
	source = mpp-0008-media-capture-linux-Prefer-using-the-first-device.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0008-media-capture-linux-Prefer-using-the-first-device.patch
	source = mpp-0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch
	source = mpp-0010-Create-new-fence-when-there-s-no-in-fences.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0010-Create-new-fence-when-there-s-no-in-fences.patch
	source = mpp-0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch
	source = mpp-0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch
	source = mpp-0013-content-gpu-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0013-content-gpu-Only-depend-dri-for-X11.patch
	source = mpp-0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch
	source = mpp-0015-ui-gfx-linux-Force-disabling-modifiers.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0015-ui-gfx-linux-Force-disabling-modifiers.patch
	source = mpp-0016-HACK-ui-x11-Fix-config-choosing-error-with-Mali-DDK.patch::https://github.com/JeffyCN/meta-rockchip/raw/164950523c602cc74b4d8d06750215f59d3b3db1/dynamic-layers/recipes-browser/chromium/chromium_126.0.6478/0016-HACK-ui-x11-Fix-config-choosing-error-with-Mali-DDK.patch
	source = mpp-arch-0001-media-sandbox-always-lookup-libv4l2-at-usr-lib-libv4.patch
	sha256sums = 3939f5b3116ebd3cb15ff8c7059888f6b00f4cfa8a77bde983ee4ce5d0eea427
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = daf0df74d2601c35fd66a746942d9ca3fc521ede92312f85af51d94c399fd6e0
	sha256sums = 8f81059d79040ec598b5fb077808ec69d26d6c9cbebf9c4f4ea48b388a2596c5
	sha256sums = 028acc97299cec5d1ed9f456bbdc462807fa491277d266db2aa1d405d3cd753d
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = a9b417b96daec33c9059065e15b3a92ae1bf4b59f89d353659b335d9e0379db6
	sha256sums = d7e03bb0ca10ed30cf8a427d6d382623930d1cefdeb673ed3ed9babcdfd62503
	sha256sums = 494d5c3cd7901ec16ff9f66e34f550b2ebc52d02fdc744f444843cfcc79def2b
	sha256sums = e887b626f9bc475effeb7c1a1d5def9cda1bd7bfb5fca18a29f93f26d2b2748f
	sha256sums = 288def8af27979573e3ed0113d8860a0e823f65988624906a1e4c158264b35aa
	sha256sums = bea5d748fd1ef8ba8085f45b001f1bb79d9324dfa695ee9bb5b52bdb9c368e88
	sha256sums = c688660f583f2f540b1ad11bdee7fa5d8dbe63fe477091a8c3e92d041e0af5c8
	sha256sums = 9e2af2d5c9570a73eb2f2f30d5ad1a967d9452a1d234e206384ab5c34704e966
	sha256sums = b267867103be6a40ad21fa1293e0548fb84df31e6609e29a93f4375dcf66dbb2
	sha256sums = a7dde27ed9fd0f25eba8674ca440886984e623d51a235e975e62f45f13a31a43
	sha256sums = 79415aa937a21117179aa72d24664ce3b2cff10e0573c0ae7f905d1c00473778
	sha256sums = fe86c19576c01d7e57f81856a616582d81d368a68b949d5c46428558d29fd655
	sha256sums = fcd809d92a4524c226804dd5168f002cbfdef778a24c4a7bed7d6442e6206aeb
	sha256sums = 2c89ce54aa82411f41f5bc6cda98067807c80800559658038e59ef07e54e99cc
	sha256sums = c094dee92301e07997def872c4918d7f1f908cf6e4ae059b668c31cc9c9452a0
	sha256sums = 00a5ff2980040b8c711c9f712fbbfc0572e6efd18009b89336da721aa744f566
	sha256sums = 1feb5af6618b13ba185e5779914d1a7c7b2973c9fbdfde2b2565e2c2a90946d5
	sha256sums = 27724358b9d6615e73d8f19ef2158a02344616e10bbd4db6f944a2cc3aa1a11e
	sha256sums = dc8784e218cb0065119fc688cb79d9a25c644c54032b668e4da4439cafe804cb
	sha256sums = ca909939f0ed659238c796f2ffb109677d51c17ac765ac8a857344fa235c2033

pkgname = chromium-mpp
