pkgbase = chromium-mpp
	pkgdesc = A web browser built for speed, simplicity, and security. Patched with Rockchip MPP support.
	pkgver = 122.0.6261.128
	pkgrel = 1
	url = https://www.chromium.org/Home
	install = chromium-mpp.install
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = qt5-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libv4l-rkmpp
	depends = fontconfig
	depends = libjpeg
	depends = icu
	depends = dav1d
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = qt5-base: enable Qt5 with --enable-features=AllowQt
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = libmali: blob drivers needed for rendering after MPP decoding
	provides = chromium=122.0.6261.128
	provides = chromedriver=122.0.6261.128
	conflicts = chromium
	conflicts = chromedriver
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-122.0.6261.128.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://gitlab.com/Matt.Jolly/chromium-patches/-/archive/122/chromium-patches-122.tar.bz2
	source = support-ICU-74-in-LazyTextBreakIterator.patch
	source = drop-flag-unsupported-by-clang17.patch
	source = compiler-rt-adjust-paths.patch
	source = use-oauth2-client-switches-as-default.patch
	source = 0001-widevine-support-for-arm.patch
	source = 0002-Run-blink-bindings-generation-single-threaded.patch
	source = 0003-Fix-eu-strip-build-for-newer-GCC.patch
	source = 0004-Optimize-eu-strip-building-logic.patch
	source = git+https://sourceware.org/git/elfutils.git
	source = mpp-0001-HACK-media-Support-V4L2-video-decoder.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0001-HACK-media-Support-V4L2-video-decoder.patch
	source = mpp-0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch
	source = mpp-0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch
	source = mpp-0004-media-gpu-v4l2-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0004-media-gpu-v4l2-Support-libv4l2-plugins.patch
	source = mpp-0005-media-capture-linux-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0005-media-capture-linux-Support-libv4l2-plugins.patch
	source = mpp-0006-cld3-Avoid-unaligned-accesses.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0006-cld3-Avoid-unaligned-accesses.patch
	source = mpp-0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch
	source = mpp-0008-media-capture-linux-Prefer-using-the-first-device.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0008-media-capture-linux-Prefer-using-the-first-device.patch
	source = mpp-0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch
	source = mpp-0010-Create-new-fence-when-there-s-no-in-fences.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0010-Create-new-fence-when-there-s-no-in-fences.patch
	source = mpp-0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch
	source = mpp-0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch
	source = mpp-0013-content-gpu-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0013-content-gpu-Only-depend-dri-for-X11.patch
	source = mpp-0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch
	source = mpp-0015-HACK-ui-gl-Force-enabling-validating-command-decoder.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0015-HACK-ui-gl-Force-enabling-validating-command-decoder.patch
	source = mpp-0016-ui-gfx-linux-Force-disabling-modifiers.patch::https://github.com/JeffyCN/meta-rockchip/raw/7f01be8b695ed27220c4fb3d92f96f65aeafc755/dynamic-layers/recipes-browser/chromium/chromium_122.0.6261/0016-ui-gfx-linux-Force-disabling-modifiers.patch
	source = mpp-arch-0001-gpu-sandbox-always-lookup-libv4l2-at-usr-lib-libv4l2.patch
	sha256sums = 51757e7ecf5bb1db4881562d021547be5f8065e4f22a6ba9bf6e9a3a0d32c2ea
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = 1f6acf165578288dc84edc7d9dcfabf7d38f55153b63a37ee5afa929f0e2baad
	sha256sums = 8c256b2a9498a63706a6e7a55eadbeb8cc814be66a75e49aec3716c6be450c6c
	sha256sums = 3bd35dab1ded5d9e1befa10d5c6c4555fe0a76d909fb724ac57d0bf10cb666c1
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = e393174d7695d0bafed69e868c5fbfecf07aa6969f3b64596d0bae8b067e1711
	sha256sums = b5bb3d0e2cd06aa92bb0ea62d6915dac1635cee79e9e1405cf17fe471baa393e
	sha256sums = 01c8742f987e158245959561db7f7529254a81491954174be2ef8a4f226cbf42
	sha256sums = 4b543a4f12b8f00765d3a2812c5452a60c5c07babc00fe2036edd6467462ecfe
	sha256sums = ac940ff39aae2dfe73967195eeb39fabe439eaa4ba5d5cd3f30ca1fb2030252c
	sha256sums = SKIP
	sha256sums = 559c49f8267694eecf6795b397b4b890804673b01265a8a88ff0ab9a995f33de
	sha256sums = 7b2212ff704d95513784469a652fead3e79a60816df4e5b417ec059b87118ba0
	sha256sums = d491e14c108c6291a1a6ca0be6b53c3a1bfa5f1799658e01efad4e138a7d81b3
	sha256sums = f6f242a3f70fc46247adc7a82fc430d3eaee7d8dd45b8eda59d200f93372d7d0
	sha256sums = f611ac0af1cccbcebf9fd1fa43b730c8d962b016a04918d731aff22cff008e7a
	sha256sums = 3de6682050c2fc055177f8de0ca44391a0e44f983b3400d42e8658a14c837ac1
	sha256sums = d2f06ebad3acc29ec7d569dbfaa2b72d73ea0db0eea8f07f1869c7592d6ca9d4
	sha256sums = 9e611e342be2ecde73a6cbc81c3ce8a83c226bd1e477ce3f57cdafdbc209a559
	sha256sums = 867d6384c5ba82e10068d138251b0e17aa844df035eb4f54fcb8802d796c616f
	sha256sums = 66bc90f355eb539492fbb3465f05091bee699d86df6bdcc658dc27fef4f13421
	sha256sums = 9d39e04e1f0c57957723119e1e81b4d86cbd42bec5a5dd01845443f0d11c433f
	sha256sums = 6949a7383a0827edbf11b36cab0f3ea832d687079636ac8cb22dc886417caada
	sha256sums = 8189807ca7a19dbc135de91d71fb499ec288a772a2737e1c480b6402a5324719
	sha256sums = 65db39756549bb7b4399219c97f5ed1fb29b633d8ccc0cc44b5888cb3facce32
	sha256sums = 2dc59ef59f99261d2e826e3dc8f3657d66c3507bbf63e0c657683f61dd99fd3f
	sha256sums = 9e9f6138e5f67382446fead11414b31135738dd1e2e5ff1270e8228ee50f5a05
	sha256sums = dd35502f7ec6452bb885482403e131986b9fbbf6aebb6910ac747fc169bbfe73

pkgname = chromium-mpp
