pkgbase = chromium-mpp
	pkgdesc = A web browser built for speed, simplicity, and security. Patched with Rockchip MPP support.
	pkgver = 129.0.6668.100
	pkgrel = 1
	url = https://www.chromium.org/Home
	install = chromium-mpp.install
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = java-runtime-headless
	makedepends = git
	makedepends = elfutils
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libv4l-rkmpp
	depends = fontconfig
	depends = brotli
	depends = libjpeg-turbo
	depends = icu
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = upower: Battery Status API support
	optdepends = libmali: blob drivers needed for rendering after MPP decoding
	provides = chromium=129.0.6668.100
	provides = chromedriver=129.0.6668.100
	conflicts = chromium
	conflicts = chromedriver
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-129.0.6668.100.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = p010-Zero-Copy-for-VA-API-Decoding-for-Vulkan.patch
	source = add-feature-to-allow-zero-copy-video-formats.patch
	source = compiler-rt-adjust-paths.patch
	source = increase-fortify-level.patch
	source = use-oauth2-client-switches-as-default.patch
	source = 0001-widevine-support-for-arm.patch
	source = 0002-Run-blink-bindings-generation-single-threaded.patch
	source = mpp-0001-HACK-media-Support-V4L2-video-decoder.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0001-HACK-media-Support-V4L2-video-decoder.patch
	source = mpp-0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0002-HACK-media-gpu-v4l2-Enable-V4L2-VEA.patch
	source = mpp-0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0003-media-gpu-v4l2-Gen-libv4l2_stubs.patch
	source = mpp-0004-media-gpu-v4l2-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0004-media-gpu-v4l2-Support-libv4l2-plugins.patch
	source = mpp-0005-media-capture-linux-Support-libv4l2-plugins.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0005-media-capture-linux-Support-libv4l2-plugins.patch
	source = mpp-0006-cld3-Avoid-unaligned-accesses.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0006-cld3-Avoid-unaligned-accesses.patch
	source = mpp-0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0007-media-gpu-v4l2-Use-POLLIN-for-pending-event.patch
	source = mpp-0008-media-capture-linux-Prefer-using-the-first-device.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0008-media-capture-linux-Prefer-using-the-first-device.patch
	source = mpp-0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0009-media-gpu-v4l2-Fix-compile-error-when-ozone-not-enab.patch
	source = mpp-0010-Create-new-fence-when-there-s-no-in-fences.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0010-Create-new-fence-when-there-s-no-in-fences.patch
	source = mpp-0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0011-HACK-ozone-wayland-Force-disable-implicit-external-s.patch
	source = mpp-0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0012-HACK-media-capture-linux-Allow-camera-without-suppor.patch
	source = mpp-0013-content-gpu-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0013-content-gpu-Only-depend-dri-for-X11.patch
	source = mpp-0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0014-media-gpu-sandbox-Only-depend-dri-for-X11.patch
	source = mpp-0015-ui-gfx-linux-Force-disabling-modifiers.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0015-ui-gfx-linux-Force-disabling-modifiers.patch
	source = mpp-0016-HACK-ui-x11-Fix-config-choosing-error-with-Mali-DDK.patch::https://github.com/JeffyCN/meta-rockchip/raw/1494a7bfb3bd51a6355bbae4f8518b9bfebb6a0a/dynamic-layers/recipes-browser/chromium/chromium_129.0.6668/0016-HACK-ui-x11-Fix-config-choosing-error-with-Mali-DDK.patch
	source = mpp-arch-0001-media-sandbox-always-lookup-libv4l2-at-usr-lib-libv4.patch
	source = mpp-arch-0002-wayland-never-use-implicit-sync.patch
	sha256sums = 281daed29a5cb546f6273130035d9980666d2232f356ad95fc06af3c90121bc2
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = 40db59162df2b7a2c0387bd620802f15424f637c09ba305b674fc09410ab21d1
	sha256sums = 713dab4f8c26790c0e4a4c5ce6a9269e90446df5370cc14214a01a363f7afe39
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = d634d2ce1fc63da7ac41f432b1e84c59b7cceabf19d510848a7cff40c8025342
	sha256sums = a9b417b96daec33c9059065e15b3a92ae1bf4b59f89d353659b335d9e0379db6
	sha256sums = 4246da8a2d0bd689b6c8a6ce3042e72ec72497ea64ad47ceb92334afa34a27f1
	sha256sums = 123dbf9cc82085242ee4a9bdaf6354257ea8eba993fb45fcb7f407a176c29abd
	sha256sums = 91b6759bd04676653ef5b8dcf4dfc2070bc0ef3782e460feefada817b75fd2b4
	sha256sums = a49884ea66c769c77e9cb025074a2942ce2dc0561ccc35107e39132374385afd
	sha256sums = 4342fe55b9530376dd3fafed6abf19e792ccb0d69d17eb255d685284fb227dd0
	sha256sums = a83027d40b1f56886a35d5522051745bdca4b48f73e19f89a30afd6efdf3f7f2
	sha256sums = e6885f5fdeb83b4cb420126c6081f27ea41e35d8cc9553504eb4f1e19bb5e7d7
	sha256sums = 214d18475994a7bda5ef7004c684192e957eb973d04da34b197e1f1977c47cd3
	sha256sums = f04d6c4a68e87021d17cda914b0faccc8d4f23f841e41a0665a54d22439e3cdb
	sha256sums = 3eeb26fb6f4d76e307a1312e687b9d94328eaf2dcaae85aa26472459f97c13fc
	sha256sums = 9dd62cd87b6d6899ff31ceb5b30d29f6d46b36c6ed1ef496c92a417c2575d0d6
	sha256sums = 290e4dd4bf8983ebb0c1589fbe8d8ac17a5c930560d5f625609f472cf902c43b
	sha256sums = 411f07ee2cc587f7e33a5250648edb49bb513db91a281b2e9f4e9628f2e25651
	sha256sums = f25f3f3e7ba912c399445ff23ea54adc9ad267169d0f53e336995da976ea695e
	sha256sums = 9c4327eafc83dc601c7755f2a15ae375e24643feb96855da8cbaa0465b732a81
	sha256sums = 19b714a5c904e43cb7168c71f3273ea097251d73ac021cce3c86cf3c87c04e09
	sha256sums = fb4b5d3c92061e4db8c8f6dd3c0cc838c55402b15eb557d849bf345296705a9e
	sha256sums = 8ad88eb85b93fab6b0e9c4ae0eaf5a069f3a55c0855c839dcf20c2f33f088abd
	sha256sums = ca909939f0ed659238c796f2ffb109677d51c17ac765ac8a857344fa235c2033
	sha256sums = 739d39dc48f806052c0e506999e4339d590809b4fc1b64f85e0cc96a15024897

pkgname = chromium-mpp
